dialog {
	--modal-spacer: 12px;

	width: min(88vw, 500px);
	margin: auto;
	border: none;

	border-radius: 10px;
	box-shadow: 4px 5px 10px #00000099;
	font-size: 1.3rem;
}

dialog::backdrop {
	background-color: #59595980;
}

dialog > * {
	padding: calc(var(--modal-spacer) * 1.2);
	gap: var(--modal-spacer);
	flex-direction: column;
}

dialog .buttons {
	display: flex;
	gap: var(--modal-spacer);
}

dialog .buttons > * {
	flex: 1;

	padding: 6px;

	border-radius: 10px;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
}

/* ---------------     Display Mode     --------------- */

.display-mode {
	display: flex;
	background-color: var(--display-mode-bg);
}

.display-mode-header {
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
}

.display-close-btn {
	--btn-dim: 33px;
	align-self: center;
	height: var(--btn-dim);
	width: var(--btn-dim);

	background-color: var(--text-dark);
	color: var(--text-light);
	border-radius: 20px;
	font-weight: 500;
}

.display-mode-body {
	display: flex;
}

.display-sidebar {
	width: 6px;
	border-radius: 5px;
	background-color: grey;
}

.display-details {
	flex: 1;
	margin: 8px 0;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.display-item {
	display: flex;
	gap: 10px;
}

.display-label {
	width: 80px;
	color: var(--text-dark);
	text-align: right;
}

.display-value {
	flex: 1;
}

#edit-btn {
	background-color: var(--header-bg-right);
	color: var(--text-light);
}

#delete-btn {
	color: var(--header-bg-right);
	border: 2px solid currentColor;
}

/* ---------------     /Display Mode     --------------- */
/* ---------------     Edit Mode     --------------- */

.edit-mode {
	display: flex;
	background-color: var(--edit-mode-bg);
	color: var(--header-bg-left);
}

.edit-mode-details {
	display: flex;
	flex-direction: column;
	gap: var(--modal-spacer);
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	gap: var(--modal-spacer);
}

.form-item {
	flex: 1;

	display: flex;
	flex-wrap: nowrap;
	gap: 6px;
}

.form-row p {
	width: 100%;
	margin-top: var(--modal-spacer);
	font-size: 1rem;
}

form label {
	width: 70px;
	text-align: end;
}

input,
select,
textarea {
	flex: 1;
	appearance: none;
	padding: 6px;
	min-width: 100px;

	border: 1px solid var(--header-bg-left);
	border-radius: 5px;

	font-family: unset;
}

textarea {
	resize: vertical;
}

#save-btn {
	color: var(--text-light);
	background-color: var(--header-bg-left);
}

#cancel-btn {
	color: var(--header-bg-left);
	border: 2px solid currentColor;
}
/* ---------------     /Edit Mode     --------------- */

.project-mode {
	display: flex;
	background-color: pink;
}
