dialog {
	--modal-spacer: 12px;

	margin: auto;
	border: none;

	background-color: var(--display-mode-bg);
	border-radius: 10px;
	box-shadow: 4px 5px 10px #00000099;
}

dialog::backdrop {
	background-color: #59595980;
}

dialog > * {
	width: min(88vw, 500px);
	padding: var(--modal-spacer);
	gap: var(--modal-spacer);
	flex-direction: column;
}

/* ---------------     Display Mode     --------------- */

.display-mode {
	display: flex;
}

.display-mode-header {
	display: flex;
	justify-content: space-between;
}

.display-mode p {
	color: var(--text-dark);
}

.display-mode p span {
	color: #000;
}

/* ---------------     /Display Mode     --------------- */
/* ---------------     Edit Mode     --------------- */

.edit-mode {
	display: flex;
	background-color: cadetblue;
}

.edit-mode-details {
	display: flex;
	flex-direction: column;
	gap: var(--modal-spacer);
}

/* ---------------     /Edit Mode     --------------- */

.project-mode {
	display: flex;
	background-color: pink;
}
