/* ---------------     Reboot     --------------- */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* color: unset; */
}

/* ---------------     /Reboot     --------------- */
/* ---------------     Utilities & Universals     --------------- */

:root {
	--eg-var: red;
}

body {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

/* ---------------     /Utilities & Universals     --------------- */
/* ---------------     CONTENT     --------------- */

/* ---------------     Header     --------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 1px solid black;
}

header h1 {
	margin: 10px;
	font-style: italic;
}

.nav-display-btn {
	margin: 10px;
	padding: 5px 8px;
	font-size: 20px;
}

/* ---------------     /Header     --------------- */

/* ---------------     Main     --------------- */

main {
	--main-spacer: 20px;

	position: relative;
	flex: 1;
	padding: var(--main-spacer);
}

.project-displayed {
	margin-bottom: 20px;
}

.statuses-container {
	display: flex;
	flex-direction: column;
	gap: var(--main-spacer);
}

/* ---------------     Status columns     --------------- */

.status {
	--status-spacer: 10px;
	padding: var(--status-spacer);

	display: flex;
	flex-direction: column;
	gap: var(--status-spacer);
	border: 1px solid black;
	border-radius: 6px;
}

.task-card {
	--priority-width: 12px;
	--priority-color: grey;

	padding: 5px 5px 5px calc(var(--priority-width) + 5px);

	background-image: linear-gradient(
		to right,
		var(--priority-color) var(--priority-width),
		transparent var(--priority-width)
	);

	border: 2px solid black;
	border-radius: 5px;
}

.task-card[data-priority="high"] {
	--priority-color: red;
}

.task-card[data-priority="medium"] {
	--priority-color: gold;
}

.task-card[data-priority="low"] {
	--priority-color: green;
}

.subtext {
	display: flex;
	justify-content: space-between;
}

/* ---------------     /Status columns     --------------- */

.add-container {
	position: fixed;
	bottom: calc(var(--main-spacer) + 48px);
	left: 10px;

	display: flex;
	flex-direction: column-reverse;
	gap: 10px;
}

.add-btn {
	--add-btn-dims: 50px;

	height: var(--add-btn-dims);
	width: var(--add-btn-dims);
	display: grid;
	place-content: center;

	border-radius: var(--add-btn-dims);
	border: 2px solid white;
	background-color: black;
	color: white;
	font-size: 40px;
}

.add-btn.open {
	transform: rotate(45deg);
}

.add-btn ~ * {
	display: none;
}

.add-btn.open ~ * {
	display: block;
}

/* ---------------     /Main     --------------- */

/* ---------------     Footer     --------------- */

footer {
	padding: 20px;

	display: flex;
	justify-content: center;

	background-color: black;
	color: white;
}
/* ---------------     /Footer     --------------- */

/* ---------------     Dialog     --------------- */

dialog {
	--modal-spacer: 12px;
	top: 0;
	height: 100%;
	width: 100%;

	justify-content: center;
	align-items: start;
	padding-top: 140px;

	background-color: rgba(128, 128, 128, 0.5);
	border: none;
}

dialog[open] {
	display: flex;
}

dialog > * {
	width: min(90vw, 500px);
	padding: var(--modal-spacer);
	gap: var(--modal-spacer);
	flex-direction: column;
}

.display-mode {
	/* Toggle: flex */
	display: flex;

	background-color: wheat;
}

.display-mode-header {
	display: flex;
	justify-content: space-between;
}

.edit-mode {
	/* Toggle: flex */
	display: none;
	background-color: cadetblue;
}

.edit-mode-details {
	display: flex;
	flex-direction: column;
	gap: var(--modal-spacer);
}

.project-mode {
	/* Toggle: flex */
	display: none;
	background-color: pink;
}

/* ---------------     /Dialog     --------------- */

/* ---------------     /CONTENT     --------------- */
