/* ---------------     Reboot     --------------- */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* color: unset; */
}

/* ---------------     /Reboot     --------------- */
/* ---------------     Utilities & Universals     --------------- */

:root {
	--eg-var: red;
}

/* ---------------     /Utilities & Universals     --------------- */
/* ---------------     CONTENT     --------------- */

/* ---------------     Header     --------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 1px solid black;
}

header h1 {
	margin: 10px;
	font-style: italic;
}

.nav-display-btn {
	margin: 10px;
	padding: 5px 8px;
	font-size: 20px;
}

/* ---------------     /Header     --------------- */

/* ---------------     Main     --------------- */

main {
	--main-spacer: 20px;
	padding: var(--main-spacer);
}

.project-displayed {
	margin-bottom: 20px;
}

.statuses-container {
	display: flex;
	flex-direction: column;
	gap: var(--main-spacer);
}

/* ---------------     Status columns     --------------- */

.status {
	--status-spacer: 10px;
	padding: var(--status-spacer);

	display: flex;
	flex-direction: column;
	gap: var(--status-spacer);
	border: 1px solid black;
	border-radius: 6px;
}

.task-card {
	--priority-width: 12px;
	--priority-color: grey;

	padding: 5px 5px 5px calc(var(--priority-width) + 5px);

	background-image: linear-gradient(
		to right,
		var(--priority-color) var(--priority-width),
		transparent var(--priority-width)
	);

	border: 2px solid black;
	border-radius: 5px;
}

.task-card[data-priority="high"] {
	--priority-color: red;
}

.task-card[data-priority="medium"] {
	--priority-color: gold;
}

.task-card[data-priority="low"] {
	--priority-color: green;
}

.subtext {
	display: flex;
	justify-content: space-between;
}

/* ---------------     /Status columns     --------------- */
/* ---------------     /Main     --------------- */

/* ---------------     Footer     --------------- */
/* ---------------     /Footer     --------------- */

/* ---------------     Dialog     --------------- */

dialog {
	--modal-spacer: 12px;
	top: 0;
	height: 100%;
	width: 100%;

	display: grid;
	place-content: center;

	background-color: rgba(128, 128, 128, 0.5);
	border: none;
}

dialog > * {
	width: min(90vw, 500px);
	padding: var(--modal-spacer);
	gap: var(--modal-spacer);
	flex-direction: column;
}

.display-mode {
	/* Toggle this! */
	display: none;

	background-color: wheat;
}

.display-mode-header {
	display: flex;
	justify-content: space-between;
}

.edit-mode {
	display: flex;
	background-color: cadetblue;
}

.edit-mode-details {
	display: flex;
	flex-direction: column;
	gap: var(--modal-spacer);
}

/* ---------------     /Dialog     --------------- */

/* ---------------     /CONTENT     --------------- */
